# --- General ---
.DS_Store
.idea/
.vscode/

# --- Node.js / Backend ---
backend/node_modules
backend/.env
backend/logs/
backend/*.log

# --- Flutter / Frontend ---
frontend/.dart_tool/
frontend/.idea/
frontend/.metadata
frontend/.packages
frontend/build/
frontend/pubspec.lock
frontend/*.iml